* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  font-weight: 700;
}

p {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

.btn {
  border-radius: 50px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  padding: 1rem 1.5rem;
  min-width: 186px;
  text-align: center;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.4);
}

.header {
  position: relative;
  height: 62px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.header__img {
  height: 32px;
}
.header__link {
  position: absolute;
  font-size: 1.125rem;
  color: #4d4d4d;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.main {
  position: relative;
}
.main .spinner {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.main .spinner::after {
  content: "";
  width: 36px;
  height: 36px;
  border: 4px solid #9356dc;
}

.mainHeader__searchbar {
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 20px 9px -20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.mainHeader__input {
  border: none;
  background-color: transparent;
  width: 95px;
  outline: none;
}
.mainHeader__input::-moz-placeholder {
  color: black;
}
.mainHeader__input:-ms-input-placeholder {
  color: black;
}
.mainHeader__input::placeholder {
  color: black;
}
.mainHeader__info {
  text-align: center;
  padding: 2rem;
}
.mainHeader__title {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.mainHeader__text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #6b6b6b;
}
.mainHeader__link {
  margin: 20px auto;
}

.section {
  padding: 3.25rem 1.25rem;
}
.section--grey {
  background-color: #f6f6f6;
}
.section__title {
  margin-bottom: 2rem;
}
.section__title--light {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  text-transform: uppercase;
}
.section__title--light::after {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 3px;
  background-color: #99e2d0;
  bottom: 0;
  left: 0;
}
.section .list {
  padding-left: 0.75rem;
}
.section .list__elt {
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 1.3rem;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  transition: box-shadow 300ms;
}
.section .list__elt--1::before {
  position: absolute;
  content: "1";
  color: #fff;
  background-color: #9356dc;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
}
.section .list__elt--2::before {
  position: absolute;
  content: "2";
  color: #fff;
  background-color: #9356dc;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
}
.section .list__elt--3::before {
  position: absolute;
  content: "3";
  color: #fff;
  background-color: #9356dc;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
}
.section .list__elt .link__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2eafb;
  opacity: 0;
  border-radius: 16px;
  transition: opacity 250ms;
}
.section .list__elt:hover {
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.4);
}
.section .list__elt:hover .link__bg {
  opacity: 1;
}
.section .list__link {
  margin: 0;
  padding: 1.5rem;
  padding-left: 4.5rem;
  position: relative;
}
.section .list__link i {
  position: absolute;
  left: 35px;
  color: #909090;
  padding-right: 1.75rem;
  transition: color 250ms 30ms;
}
.section .list__link:hover i {
  color: #9356dc;
}

.restaurantHeader {
  background: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.restaurantHeader__info {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.125rem 0 1.125rem;
}
.restaurantHeader__title {
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 1.65rem;
}
.restaurantHeader__icon {
  margin-right: 0.8rem;
  -webkit-text-stroke: 1px white;
  position: relative;
  cursor: pointer;
  font-size: 1.65rem;
  width: 1.65rem;
  height: 1.65rem;
}
.restaurantHeader__icon .fas {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurantHeader__icon .far {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms;
}
.restaurantHeader__icon:hover .fas {
  opacity: 1;
}
.restaurantHeader__icon:hover .far {
  opacity: 0;
}

.card {
  height: 254px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 1.3rem;
}
.card--low {
  height: auto;
}
.card__link {
  height: 100%;
  position: relative;
}
.card__newLogo {
  position: absolute;
  padding: 0.3rem 0.6rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #278870;
  background-color: #99e2d0;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 3px;
}
.card__img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 0 1rem;
}
.card__title {
  margin: 0;
  margin-bottom: 0.2rem;
}
.card__location {
  font-weight: 300;
}
.card__icon {
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}
.card__icon .fas {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__icon .far {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms;
}
.card__icon:hover .fas {
  opacity: 1;
}
.card__icon:hover .far {
  opacity: 0;
}
.cardBtn {
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 1.3rem;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
}
.cardBtn:hover .cardBtn__added {
  -webkit-animation: slidingLeft 2s ease-in 100ms;
          animation: slidingLeft 2s ease-in 100ms;
}
.cardBtn:hover .cardBtn__added .fas {
  -webkit-animation: rotate 1500ms ease 500ms;
          animation: rotate 1500ms ease 500ms;
}
.cardBtn__block {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}
.cardBtn__infos {
  padding-left: 0.75rem;
}
.cardBtn__title {
  margin-bottom: 0.45rem;
}
.cardBtn__location {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cardBtn__price {
  font-weight: 700;
  padding-right: 1rem;
}
.cardBtn__added {
  height: 100%;
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #99e2d0;
  transform: translateX(50px);
}
.cardBtn__added .fas {
  transform: rotate(220deg);
}

.footer {
  background-color: #353535;
}
.footer .container {
  padding: 2rem 1.25rem;
}
.footer__img {
  height: 20px;
  margin-bottom: 1rem;
}
.footer__link {
  color: #ffffff;
  line-height: 1.8rem;
}
.footer__link i {
  width: 1rem;
  margin-right: 0.6rem;
  font-size: 12px;
}

@-webkit-keyframes slidingLeft {
  0% {
    transform: translateX(50px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slidingLeft {
  0% {
    transform: translateX(50px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(220deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(220deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */