@keyframes slidingUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinning {
  0% {
    transform: translateX(-50%) rotate(135deg);
  }
  100% {
    transform: translateX(-50%) rotate(490deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
